body{
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
    color: #e5e7eb
}
header{
    background-color: #1f2937;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    color: #f9faf8
}
#links{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#links a{
    /* background-color: aliceblue; */
    text-decoration: none;
    font-style: none;
    color: #e5e7eb
}